.streamer {
    background-color: #0092e1;
    padding: 1px 20px;
    border-radius: 4px;
    z-index: 9999;
    height: 300px;
}

.stream__container {
    display: block;
    position: relative;
}

.stream--image {
    padding: 0.5rem;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 3px;
    position: absolute;

}

.stream--title {
    display: block;
    position: relative;
    margin-left: 2.7rem;
}

.stream--item {
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    color: white;
    position: relative;
}

.stream--summary {
    font-size: 11px;
    opacity: 0.8;
    display: block;
    margin-left: 2.7rem;
    position: relative;
}