.streamer {
    background-color: #0092e1;
    padding: 1px 20px;
    border-radius: 4px;
    z-index: 9999;
    height: 470px;
}

.stream__container {
    display: block;
    position: relative;
}

.stream--image {
    padding: 0.5rem;
    opacity: 0.8;
    border-radius: 3px;
    position: absolute;
    top: 6px;

}

.stream--title {
    display: block;
    position: relative;
    margin-left: 50px;
}

.stream--item {
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    color: white;
    position: relative;
}

.stream--summary {
    font-size: 11px;
    opacity: 0.8;
    display: block;
    margin-left: 50px;
    position: relative;
}