.stream {

}

.stream__container {

}

.stream--image {
    padding: 0.8rem;
    opacity: 0.8;
}

.stream--item {
    text-align: left;
    padding: 1rem;
    cursor: pointer;
}

.stream--summary {
    font-size: 11px;
    opacity: 0.8;
    display: block;
    padding-left: 2.7rem;
}