.omniSearch {
    width: 40%;
    height: 50%;
    max-height: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.omniSearch:focus {
    width: 100%;
}