.omniSearch {
    float: right;
    display: inline-block;
    text-align: right;
    width: 40px;
    height: 40px;
    padding: 5px;
    max-height: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    border: none;
    border-radius: 22px;
    background-color: rgb(299, 105, 10);
    cursor: pointer;
    background-image: url('./glass.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 11px;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
    background-size: 19px;
    font-size: 16pt;
    color:transparent;
    padding-right:15px;
}

.omniSearch:focus {
    width: 80%;
    background-color: white;
    background-size: 19px;
    -webkit-filter: invert(0%); /* safari 6.0 - 9.0 */
          filter: invert(0%);
    color: rgb(53, 53, 53);
}

.results {
    float: right;
    background: white;
    width: 250px;
    margin: 5px;
    text-align: right;
    border-radius: 10px;
}