@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* body {
  font-family: 'PT Sans', sans-serif !important;
} */

.App-logo {
  height: 4vmin;
  margin-left: 23px;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.mask {
  position: absolute;
  background: #233750;
  height: 400px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}


.dj-trending-header {
  background-color: rgb(90, 90, 90);
}

h3 {
  color: white;
  margin-left: 1.5rem;
  font-size: 1.8rem;

}

.badge {

  float:right
  
}