.App-logo {
  height: 4vmin;
  margin-left: 23px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dj-trending-body {
  background: #233750;
}

.dj-trending-header {
  background-color: rgb(90, 90, 90);
}